* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
    border-collapse: separate;
    border-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:focus {
    outline: none
}
::selection {
    background: #586e75;
    opacity: 1.0;
    color: #fdf6e3;
    padding: 10px; /* Safari */
}

@font-face {
    font-family: 'alte_haas_grotesk_regular';
    src: url('../media/fonts/alte_haas_grotesk_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alte_haas_grotesk_bold';
    src: url('../media/fonts/alte_haas_grotesk_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'input_mono_regular';
    src: url('../media/fonts/input_mono_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'input_mono_medium';
    src: url('../media/fonts/input_mono_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #fdf6e3;
}
body {
    background: #fdf6e3;
    color: #073642;
    font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;
    font-size: 18px;
    overflow-x: hidden;
    padding: 45px 90px;
    line-height: 28px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
body hr {
    border: 0;
    clear: both;
}
body header a#logo {
    margin-top: -15px;
    display: block;
    width: 75px;
    margin-bottom: 15px;
}
body header a#logo img {
    width: 100%;
}
body main img.capsule {
    width: 150px;
}
body main img.medium {
    max-width: 300px;
}
body main > * {
    max-width: 600px;
    margin-bottom: 10px;
}
body main > h1 {
    font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;
    font-size: 45px;
    text-transform: capitalize;
    padding: 30px 0;
    line-height: 1;
}
body main h2#_ {
    font-size: 30px;
} /* Empty " " Part title */
body h2 {
    font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 30px;
    text-transform: capitalize;
    padding: 10px 0;
}
body main h2#_ {
    font-size: 30px;
    padding: 0;
} /* Empty " " Part title */
body main > img {
    width: 100%;
    max-width: 600px;
}
body main ul {
    font-family: 'input_mono_regular';
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
}

body main ul li a {
    text-transform: capitalize;
    text-decoration: underline;
}
body main ul li b {
    font-weight: bold
}
body main ul li:hover a {
    text-decoration: none;
}
body main {
    line-height: 28px;
    font-size: 18px;
}
body main a {
    text-decoration: underline;
}
body main b {
    font-weight: bold;
}
body main i {
    font-style: italic;
}
body main > code {
    font-family: 'input_mono_regular';
    font-size: 12px;
    margin-bottom: 30px;
    display: block;
    background: black;
    color: white;
    padding: 15px;
    white-space: pre
}
body main > code comment {
    color: #839496;
}
body main > p.quote {
    padding: 30px;
    font-size: 20px;
    font-style: italic;
    max-width: 400px
}
body main > ul.jump {
    columns: 2;
    line-height: 20px
}
body main > ul.jump li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-transform: capitalize;
}
body main > ul.jump li::marker {
    color: #839496;
}
body main > ul.jump li:hover {
    background:#586e75;
    color: #fdf6e3;
}
body main a.button {
    font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;
    background-color: #586e75;
    border: none;
    color: #fdf6e3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body main a.button:hover {
    background-color: #727272 !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body main ul.gallery {
    background: none;
}
body main ul.gallery li {
    clear: both;
    display: block;
    border-bottom: 2px solid black;
    height: 170px;
    margin-top: -2px;
}
body main ul.gallery li:last-child {
    border-bottom: 0;
}
body main ul.gallery li a {
    display: block;
    padding: 10px;
}
body main ul.gallery li img {
    width: 150px;
    float: left;
    display: block;
    margin-right: 15px;
}
body main ul.gallery li h3 {
    font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 40px;
    max-width: 75%;
    margin-bottom: 10px;
}
body main ul.gallery li h4 {
    font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
    text-transform: capitalize;
}

body main > ul.pagelist li {
    text-decoration-style: none;
}
body main > ul.pagelist li:hover {
    background: #586e75;
    color: #fdf6e3;
}
body main > ul.pagelist li::marker {
    color: #839496;
}
body main > ul.pagelist li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-transform: capitalize;
}

body footer {
    border-top: 1.5px solid #586e75;
    padding-top: 30px;
    margin-bottom: 120px;
    max-width: 600px
}
body footer img {
    width: 40%;
    margin-right: 10px;
}
body footer p {
    font-weight: bold
}
body footer form {
    margin-top: 5px;
    border: 1.5px solid black;
    display: inline-block;
}
body footer form *:first-child {
    padding-left: 15px;
}
body footer form *:last-child {
    background: #000;
    font-weight: bold;
    color: white;
    padding: 10px;
    cursor: pointer;
}
kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid black;
}

div.sketchbook {
    height: 100%;
}
div.sketchbook img {
    max-width: calc(100% - 20px);
    border-radius: 3px;
    margin: 10px;
    display: block;
    float: left;
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
}
img.thumbnail {
    border-radius: 3px;
    max-width: calc(100% - 20px);
    margin-bottom: 10px;
}
b {
    font-weight: bold
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body main sub {
    font-size: 14px;
    font-style: italic;
}

/* Code */
body pre.code {
    font-family: 'monospace';
    border: 1px solid black;
    padding: 15px;
    overflow-x: scroll;
    font-size: 12px;
    line-height: 20px;
}


/*Details summary*/
details {
    margin-bottom: 0 !important;
}
@media(max-width: 900px) {
    body {
        padding: 30px;
    }
    body main > ul.jump {
        columns: 1 !important
    }
}
